.App {
  text-align: center;

}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.profile-pic{
  width:30%;
  height: 30%;
  animation-name: example;
  animation-duration: 4s;
  animation-direction: alternate;
}

.nav-bar{
  height: 5rem;
  background-color: white;
  display: flex;
  flex-direction: row;
  padding: .5rem;
  justify-content: space-around;
  position:sticky;
  top:0;

}


@keyframes example {
  from {width:30%; height:30%;}
  to {width:50%; height:50%}

}


.nav-link-box{
  border-style: solid;
  border-radius: .5rem;
  border-color: black;
  margin-left: 3rem;
  padding: .5rem;
  position:sticky;
  top:0;
}


